mixin menuForm()
    .menu
        each letter in lettersArray
            .menu.menu_letter
                form(action=`/api/menus/${letter}` method='GET')
                    input(type='submit' name='letter' value=letter)
    if filteredResults
        each place in filteredResults
            .radios
                input(type='radio' id=place.name class='radioInput' value=place.name name='name')
                label(for='name') #{place.name}
    form(action=`/menus` method='POST')
        label(for='menuItem') Menu Item
        input(type='text' name='menuItem')
        .reviewer__stars
        - const choices = ['$3', '$4', '$5', '$6', '$7']
        - const tags = []
        ul.tags
            label(for='choice') Price Point
            each choice in choices
                .tag.tag__choice
                    input(type='checkbox' id=choice value=choice name='tags')
                    label(for='choice') #{choice}
        input.button(type='submit' value='Add to Menu')