mixin restaurantCard(restaurant = {})
    .store
        .store__hero
            .store__actions
                if user && restaurant.author.equals(user.id)
                .store__action.store__action--edit
                    a(href=`/restaurants/${restaurant.id}/edit`)
                        != h.icon('pencil')
            img(src=`uploads/${restaurant.photo || 'defaultRest.png'}`)
            h2.title
                a(href=`/restaurant/${restaurant.slug}`) #{restaurant.name}
        .store__details
            p= restaurant.description.split(' ').slice(0, 40).join(' ')
            